<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chef's Delight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
</head>

<body>
    {% if session['logged_in'] %}
    <p>You're logged in already!</p>
    {% else %}
    <header>
        <div class="row header-row">
            <h1 class="header-text">CD</h1>
            <div class="sign-in">
                <form action="/login" method="POST" class="header-form">
                    <input type="text" class="login-field" value="" placeholder="email" name="lemail">
                    <input type="text" class="login-field" value="" placeholder="password" name="lpassword">
                    <input type="submit" value="Log in" class="header-btn">
                </form>
            </div>
        </div>
    </header>
    <form action="/sign-up" method="POST">
        <h1 class="screen-title">Chef's Delight</h1>
        <div class="sign-up">
            <div class="sign-up-screen">
                <div class="app-title">
                    <h1>Sign Up</h1>
                </div>

                <div class="login-form">
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="email" name="email">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="control-group">
                        <input type="password" class="login-field" value="" placeholder="password" name="password">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="username" name="username">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    
                    <input type="submit" value="Sign Up!" class="btn btn-primary btn-large btn-block">
                    <div class="switch">
                        <input type="radio" class="switch-input" name="view" value="user" id="user" checked>
                        <label for="user" class="switch-label switch-label-off">User</label>
                        <input type="radio" class="switch-input" name="view" value="chef" id="chef">
                        <label for="chef" class="switch-label switch-label-on">Chef</label>
                        <span class="switch-selection"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
</body>

</html>