<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chef's Delight Recipe Page</title>
    <meta name="description" content="An interactive guide to making a recipe.">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reuseable.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/recipe.css') }}">
    <link rel="stylesheet" href="vendors/css/normalize.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        // Check Radio-box
        $(".rating input:radio").attr("checked", false);

        $('.rating input').click(function () {
            $(".rating span").removeClass('checked');
            $(this).parent().addClass('checked');
        });

        $('input:radio').change(
            function(){
                var userRating = this.value;
                alert(userRating);
        }); 
    });
    </script>
</head>

<body>
    <div class="page">
        <div class="header">
                <img src={{recipe[ "imagesrc"]}}/>
        </div>
        <div class="content">
            <!--First half scroll-->
            <div class="content">
                <!--Intro: title, chef name, description, rating-->
                <h1>{{recipe.name}}</h1>
                <div class="subtitle">
                    <form>
                        <div class="rating">
                            <!-- <span>☆<input type="radio" name="userRating" id="str5" value="5" class="radio-btn hide"><label for="str5"></label></span>
                            <span>☆<input type="radio" name="userRating" id="str4" value="4" class="radio-btn hide"><label for="str4"></label></span>
                            <span>☆<input type="radio" name="userRating" id="str3" value="3" class="radio-btn hide"><label for="str3"></label></span>
                            <span>☆<input type="radio" name="userRating" id="str2" value="2" class="radio-btn hide"><label for="str2"></label></span>
                            <span>☆<input type="radio" name="userRating" id="str1" value="1" class="radio-btn hide"><label for="str1"></label></span> -->
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </div>
                    </form> 
                    <h2>By: {{recipe.fname}} {{recipe.lname}}</h2>
                </div>
                <p>{{recipe.description}}</p>
            </div>
            <divider></divider>
            <div class="content">
                <div class="title">
                    <h3>Ingredients</h3>
                </div>
                <div class="ingredients">
                    {% for ing in ingredients %}
                        <li>{{ing.amount}} {{ing.measurement}} {{ing.supply_name}}</li>
                    {% endfor %}
                </div>
            </div>
            <divider></divider>
            <div class="content">
                <div class="title">
                    <h3> Instructions </h3>
                </div>
                <div class="instructions">
                    <p>{{recipe.instructions}}</p>
                </div>
            </div>
            <divider></divider>
        </div>
        <div class="container">
            <!--Comment Box-->
            <form action="/comments-action" method="POST">
                <div class="comment-form">
                    <div class="control-group">
                        <input type="text" class="comment-box" value="" placeholder="Leave a comment..." name="comment">
                    </div>

                    <input type="submit" value="Submit Comment" class="btn btn-primary btn-large btn-block">

                </div>
            </form>
        </div>

        <div class="content">
            <!--Comment Section-->
            <h4>marybolton1</h4>
            <div class="comment">
                <!--Individual Comment -->
                <p>this is a test comment</p>
            </div>
            <h4>keyb44</h4>
            <div class="comment">
                <!--Individual Comment -->
                <p>hi keyshawn</p>
            </div>
            <h4>username</h4>
            <div class="comment">
                <!--Individual Comment -->
                <p>so original</p>
            </div>
            <h4>thisIsMyUsername</h4>
            <div class="comment">
                <!--Individual Comment -->
                <p>its great i know</p>
            </div>
            <h4>ghilding</h4>
            <div class="comment">
                <!--Individual Comment -->
                <p>grant is sitting right in front of me</p>
            </div>
            <h4>waterbottleLover123</h4>
            <div class="comment">
                <!--Individual Comment -->
                <p>i thought of this username while looking at all the stikers on my waterbottle. I like my waterbottle. I wonder
                    if this text will wrap. I really hope it does, we're getting to the end of the page and OMG it wrapped
                    yay</p>
            </div>
            <h4>creaturelover5</h4>
            <div class="comment">
                <!--Individual Comment -->
                <p>this is my webkinz username</p>
            </div>
        </div>

        <footer>
            <h5> Copyright &copy; Chef's Delight </h5>
        </footer>
    </div>
</body>

</html>