html,
body {
  background-color: #fff;
}

/* BODY STYLES */

.header-main img {
  width: 55px;
  height: 55px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
  border-radius: 50%;
  margin-right: 35px;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.chef-recipe-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.image-column {
  flex: 33%;
  max-width: 33%;
  padding-right: 10px;
  padding-left: 10px;
}

.image-text-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 8px;
}

.image-container {
  width: 100%;
  border-color: #D3D3D3;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
}

.popular-recipe-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.popular-recipe {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: bisque;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  overflow: hidden;
  margin-bottom: 5px;
  background-color: #3d3d3d;
}

.popular-recipe-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center
}

.popular-recipe a img {
  width: 100%;
  height: 100%;
  flex: 1;
}

.image-column img {
  width: 100%;
  height: auto;
}

.checked {
  color: orange;
}

.stars {
  width: 20%;
  height: auto;
}

.orange-hr {
  border-color: #f89406;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 20px 0;
  align-self: center;
  width: 20%;
}

/* Text Styles */
h2 {
  font-family: 'Roboto';
  font-size: 125%;
  color: #3d3d3d;
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Roboto';
  font-size: 70%;
  color: #3d3d3d;
  font-weight: 900;
  margin-bottom: 4px;
}

.image-text-content h4 {
  font-size: 70%;
  font-weight: 100;
  color: black;
  align-self: center;
}

.popular-recipe-content h4 {
  font-size: 60%;
  font-weight: 100;
  color: black;
  align-self: center;
}

p {
  font-family: 'Roboto';
  font-size: 70%;
  color: #3d3d3d;
  font-weight: 100;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
  border-color: #f89406;
  border-width: 1.5px;
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

a:hover {
  border-bottom: 1.5px solid #f89406;
  transition: 0.1s
}