/*
Orange color: #e67e22

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 html
 body {
     background-color: #fff;
     color:rgba(0,0,0,.84);
     font-family: 'Lato', 'Arial', sans-serif,"Segoe UI","Open Sans","Helvetica Neue",sans-serif;
     font-weight: 300;
     font-size: 16px;
     text-rendering: optimizeLegibility;
     overflow-x: hidden;
     letter-spacing: 0;
     font-style: normal;
 }
 
 .flex-container{
     display: flex;
 }
 
 .clearfix {
     zoom: 1;
     overflow: auto;
 }
 
 .clearfix:after {
     content: '.';
     clear: both;
     display: table;
     height: 0;
     visibility: hidden;
 }
 
 
 /* ----------------------------------------------- */
 /* REUSABLE COMPONENTS */
 /* ----------------------------------------------- */
 
 
 div {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 section{
     display:flex;
 }
 
 
 /*----------CLASSES----------*/
 
 .page {
     display: flex;
     width: 100%;
     flex-direction: column;
     justify-content: space-between;
     background-color: antiquewhite;
 }
 
 .container{
     display:flex;
 }
 
 .content{
     display: flex;
     flex-direction: column;
     background-color:antiquewhite;
     padding-left: 30px;
     padding-right: 30px;
     width: stretch;
     margin-top: 3px;
 }
 
 
 .subtitle{
     flex-direction: row;
     align-items: center;
     justify-content: center;
     display: flex;
 }
 
 .title{
     display: flex;
     flex-direction: column;
     float: left;
     margin-left: 100%;
     margin-right: 100%;
 
 }
 
 .ingredients{
     display: flex;
     align-items: left;
     justify-content: center; 
     flex-direction: column; 
 }
 
 .instructions{
     display: flex;
     flex-direction: column;
     align-self: center;
     justify-content: space-between;
 }
 
 .comment{
     display:flex;
     flex-direction: column;
     align-self: center;
     justify-content: space-between;
     background-color: white;
     border: 2px solid #F89406;
     border-radius: 5px;
 }

 .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }
 
 .header {
     align-items: center;
     width: 100%;
     display: flex;
     background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(src);
     background-size: cover;
     background-position: center;
     height: 30vh; 
     flex-direction: row;
 }
 
 
 footer {
     flex-direction: row;
     align-items: center;
     justify-content: center;
     width: 100%;
     display: flex;
     color: white;
     background-color: #F89406;
     position: relative;
     margin-top: 30px;
 }
 
 
 .btn {
   border: 2px solid transparent;
   background: #f89406;
   color: #ffffff;
   font-size: 16px;
   line-height: 25px;
   padding: 10px 0;
   text-decoration: none;
   text-shadow: none;
   border-radius: 3px;
   box-shadow: none;
   transition: 0.25s;
   display: block;
   width: 250px;
   margin: 0 auto;
 }
 
 .btn:hover,
 .header-btn:hover {
   background-color: rgb(201, 117, 0);
 }
 
 .control-group {
   margin: 10px;
 }
 
 input {
   text-align: center;
   background-color: #ecf0f1;
   border: 2px solid transparent;
   border-radius: 3px;
   font-size: 16px;
   font-weight: 200;
   padding: 10px 0;
   width: 250px;
   transition: border 0.5s;
 }
 
 /* ----------------------------------------------- */
 /* OTHER */
 /* ----------------------------------------------- */
 
 divider {
     display: flex;
     height: 3px;
     content: " ";
     width: 100%;
     background-color: orange;
     margin: 0 auto;
     margin-top: 10px;
     margin-bottom: 10px;
     position: relative;
     align-self: center;
 }
 
 /* ----------------------------------------------- */
 /* Headings */
 /* ----------------------------------------------- */
 
 h1 {
     display: flex;
     margin-top: 10px;
     margin-bottom: 10px;
     color: #fff;
 /*    font-weight: 600;*/
     font-family: serif;
     font-size: 50px;
 }
 
 h2 {
     display: flex;
     color: #222;
 /*    font-weight: 600;*/
     font-family: cursive;
     margin: 0px 30px 10px;
     font-size: 20px;
     
 }
 
 h3 {
     display: flex;
     color: #222;
     font-weight: 600;
     line-height: 1.3;
     font-size: 25px; 
 /*    position: static;*/
     margin-bottom: 5px;
     font-family: serif;
 }
 
 h4 {
     color: #222;
 /*    font-weight: 600;*/
     font-size: 15px;
     text-align: left;
     position: relative;
     margin-top: 5px;
     margin-bottom: 5px;
     font-family: serif;
 }
 
 h5 {
     display: flex;
     justify-content: center;
     align-items: center;
     color: #222;
     bottom: 0;
     position: absolute;
     width: 100%;
     padding: 0em;
     background-color: #F89406;
     font-family: serif;
 }
 
 p{
     display: flex;
     align-items: center;
     font-family:serif;
     margin: 10px;
     
 }
 